<div class="card-item" *ngIf="movieTmdb">
  <!-- <div class="bg"></div> -->
    <a   [routerLink]="[ '/admin/peliculas/add', id ]" [ngStyle]="{'background-image': 'url('+imagePatch+')' }">
      <div class="card-header">
        <div class="card-valoration">
          <span>
            <i class="material-icons yellow">star</i>
            <strong>{{ movieTmdb.vote_average }}</strong>
          </span>
        </div>
        <div class="card-title">
          <h1>{{ movieTmdb.title }} - <span>{{ movieTmdb.release_date | date : 'yyyy' }}</span> </h1>
        </div>
              <!-- <div class="card-subtitle">s
            <span>{{ movieTmdb.calidad }}</span>
          </div> -->
      </div>
    </a>
  
  <!-- <img [src]="movieTmdb.imagen" [alt]="movieTmdb.titulo"> -->
  <!-- <mat-card-content>
    <p>
      {{ movieTmdb.sinopsis }}
    </p>
  </mat-card-content> -->
  <div class="card-action">
    <div>
      <a href="" class="iz"><i class="material-icons">ondemand_video</i><span> Ver Online</span></a>
    </div>
    <div>
      <a [routerLink]="[ '/detalle', id, movieTmdb.id ]" class="de"><span>Mas Info</span><i class="material-icons">more_horiz</i></a>
    </div>
  </div>
</div>
