<div class="container" *ngIf="pelicula">
  <div class="acciones" [ngStyle]="{'background-image': 'url('+imageBg+')'}">
    <div class="bg">
      <div class="img" >
        <img [src]="imagePatch" alt="pelicula.title">
      </div>
      <div class="ver-online">
        <div class="header">
            <div class="rating">
                <span>
                  <bar-rating [(rate)]="value_display_rating" [max]="5" [theme]="'movie'" [showText]="true" [titles]="titles_rating"
                    [readOnly]="true">
                  </bar-rating>
                </span>
                <span class="count-votos">{{ pelicula.vote_count }} votos</span>
            </div>
            <div class="titulo">
                  <h1>{{ pelicula.title }}</h1>
                  <span><strong>Titulo Original:</strong>  {{ pelicula.original_title }} ({{ pelicula.release_date | date : 'yyyy' }})</span>
            </div>
        </div>
        <div class="video">
          <mat-progress-bar class="progress" *ngIf="loading" color="warn" mode="indeterminate"></mat-progress-bar>
          
          <ng-container *ngIf="playPortada; then imagenPortada ; else video "></ng-container>
            <ng-template #imagenPortada>
              <div class="play" [ngStyle]="{'background-image': 'url('+imageBg+')'}" (click) = "play()">
                  

                  <i class="material-icons">
                      play_circle_outline
                  </i>
              </div>
            </ng-template>

            <ng-template #video>
              <iframe class="play iframe" [src]="Openload"
                [ngStyle]="{'background-image': 'url('+imageBg+')'}"
                width="700"
                height="430"
                scrolling="no" 
                frameborder="0" 
                allowfullscreen="true" 
                webkitallowfullscreen="true"
                mozallowfullscreen="true">
              </iframe>
            </ng-template>
        </div>

      </div>

    </div>
  </div>
  <div class="info" >
    <div class="datos">
      
        <div class="sinopsis">
          <span>
            <img src="../../../assets/images/sinopsis.png" alt="">
          </span>
          <span class="atributo">
            Sinopsis:
          </span>
          <span>
            {{ pelicula.overview }}
          </span>
        </div>
      
      
        <div class="genero">
          <span>
            <img src="../../../assets/images/genre.png" alt="">
          </span>
          <span class="atributo">
            Genero:
          </span>
          <span>
            <mat-chip-list>
                <mat-chip *ngFor="let genre of pelicula.genres">
                    {{ genre.name }}
                </mat-chip>
            </mat-chip-list>

            <!-- <span *ngFor="let genre of pelicula.genres">
              {{ genre.name }},
            </span> -->
          </span>
        </div>
      
      
        <div class="ano">
          <span>
            <img src="../../../assets/images/lanzamiento.png" alt="">
          </span>
          <span class="atributo">
            Lanzamiento:
          </span>
          <span>
              &nbsp;&nbsp;{{ pelicula.release_date | date : 'dd/MM/yyyy' }}
          </span>
        </div>
      
      
        <div class="duracion">
          <span>
            <img src="../../../assets/images/duracion.png" alt="">
          </span>
          <span class="atributo">
            Duración:
          </span>
          <span>
              &nbsp;&nbsp;{{ pelicula.runtime }} min.
          </span>
        </div>
      
      
        <div class="director">
          <span>
            <img src="../../../assets/images/director.png" alt="">
          </span>
          <span class="atributo">
            Director/es:
          </span>
          <span>
            <span *ngFor="let director of directors">
                &nbsp;&nbsp;{{ director.name }}
            </span>
          </span>
        </div>
      
      
        <div class="actores">
          <span  class="atributo">Elenco Principal: </span>
          <div class="actores-cimg">
            <div class="card-item" *ngFor="let actor of cast">
              <a href="#">
                <div class="card-header">
                  <div class="card-image">
                    <i *ngIf="!actor.profile_path" class="material-icons" style="font-size:100px">account_box</i>
                    <img *ngIf="actor.profile_path" [src]="cast_image + actor.profile_path" alt="{{ actor.name }}">
                  </div>
    
                  <div class="card-title">
                    <span><strong>{{ actor.name }}</strong></span>
                    <span>{{ actor.character }}</span>
                  </div>
                </div>
              </a>
    
            </div>
          </div>
          <mat-accordion style=" width:100%">
    
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Elenco Completo ...
                </mat-panel-title>
                <!-- <mat-panel-description>
                          Currently I am {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description> -->
              </mat-expansion-panel-header>
    
              <mat-list>
                <mat-list-item *ngFor="let cast of pelicula.credits.casts">
                  <!-- <mat-icon  *ngIf="!cast.profile_path"  matListIcon>account_circle</mat-icon> -->
                  <!-- <i *ngIf="!cast.profile_path" matListIcon class="material-icons icon-cast">account_circle</i> -->
                  <img *ngIf="!cast.profile_path" matListAvatar src="https://img.icons8.com/ios/50/000000/user-male-circle-filled.png">
                  <img *ngIf="cast.profile_path" matListAvatar [src]="cast_image + cast.profile_path" alt="{{cast.name}}">
                  <h3 matLine> {{cast.name}} </h3>
                  <p matLine>
                    <span> {{cast.character}} </span>
                    <!-- <span class="demo-2"> -- message.content </span> -->
                  </p>
                </mat-list-item>
              </mat-list>
    
            </mat-expansion-panel>
          </mat-accordion>
    
    
    
        </div>
      
    </div>
    </div>
</div>