.container{
    grid-template-columns: 1fr;
    
}
.info{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    

}
.acciones{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.ver-online iframe{
    width: 100%;
    min-height: 430px
}
.img img{
    align-content: flex-end;
}
h1{
    font-family: 'Roboto-Regular',serif;
    font-size: 2em;
}