<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Ingersar ID de TMDb</h2>
      </mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="f" (ngSubmit)="onSubmit()">
        <div class="form">
          <div class="input-txt">
            <input type="text" formControlName="tmdb_id" placeholder="ID TMDb">
          </div>
          <div class="input">
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </div>
      </form>

      <div class="info" *ngIf="movieTmdb">
        <div class="img">
          <img [src]="imagePatch" alt="">
        </div>
        <div class="datos">
          <div class="titulo">
            <h1>{{ movieTmdb.title }}</h1>
          </div>
          <div class="titulo">
            <p><strong>Titulo Original: {{ movieTmdb.original_title }}</strong></p>
          </div>
          <div class="sinopsis">
            <p>{{ movieTmdb.overview }}</p>
          </div>
          <div class="genero">
            <span><strong>Genero: </strong></span> <span *ngFor="let genre of movieTmdb.genres"> {{ genre.name }} -</span>
          </div>
          <div class="ano">
            <p><strong>Año:</strong> {{ movieTmdb.release_date }}</p>
          </div>
          <div class="duracion">
            <p><strong>Duración:</strong> {{ movieTmdb.runtime }}</p>
          </div>
          <div class="director">
            <p><strong>Director:</strong></p>
          </div>
          <div class="actores">
            <p><strong>Elenco: </strong><span > <strong>|</strong></span></p>
          </div>
        </div>
      </div>

      <div class="info" *ngIf="movie">
        <div class="img">
          <img [src]="movie.image" alt="">
        </div>
        <div class="datos">
          <div class="titulo">
            <h1>{{ movie.title }}</h1>
          </div>
          <div class="titulo">
            <p><strong>Titulo Original: {{ movie.title_origin }}</strong></p>
          </div>
          <div class="sinopsis">
            <p>{{ movie.description }}</p>
          </div>
          <div class="genero">
            <span><strong>Genero: </strong></span> <span *ngFor="let genre of movie.genres"> {{ genre.name }} -</span>
          </div>
          <div class="ano">
            <p><strong>Año:</strong> {{ movie.ano }}</p>
          </div>
          <div class="duracion">
            <p><strong>Duración:</strong> {{ movie.duration }}</p>
          </div>
          <div class="director">
            <p><strong>Director:</strong> {{ movie.director.name }}</p>
          </div>
          <div class="actores">
            <p><strong>Elenco: </strong><span *ngFor="let actor of movie.actors"> {{ actor.name }} <strong>|</strong></span></p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


</div>