.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  position: fixed ;
  min-height: 64px;
  top: 0;
  z-index: 1000;
  background: #272727;
  color:white;
  display: grid;
  grid-template-columns: 1fr 6fr
}

.generos{
  width: 100%;
  max-width: 800px;
  list-style: none;
  font-size: 0.8em;
  font-family: 'Roboto-Light',serif;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat( 6 , 1fr)
}

/* .mat-menu-panel{
  width: 300px;
  overflow: hidden!important;
  min-width: 300px;
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

} */