<!-- <mat-sidenav-container class="sidenav-container"> -->
  <!-- <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav> -->
  <!-- <mat-sidenav-content> -->
    <mat-toolbar>

      <span>Peliculas</span>
      <div>
        <ul class="generos">
          <li *ngFor="let genreP of gPrincipales">
            <a [routerLink]="['/genero', genreP.slug, genreP.id]"
              routerLinkActive="router-link-active" mat-button>{{ genreP.name }}
            </a>
          </li>
          <li>
            <a mat-button [matMenuTriggerFor]="menu">Todos</a>
          </li>
        </ul>
      </div>
      <mat-menu #menu="matMenu">
        <a *ngFor="let genre of genres" mat-menu-item  [routerLink]="['/genero', genre.slug, genre.id]"
          routerLinkActive="router-link-active" >{{ genre.name }}</a>
      </mat-menu>
      

      
    </mat-toolbar>
    <!-- Add Content Here -->
  <!-- </mat-sidenav-content> -->
<!-- </mat-sidenav-container> -->
