/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* TEMAS DE BAR RATING */
@import "~ngx-bar-rating/themes/br-movie-theme.css";
.br-text{
    width: auto!important;
    font-size: 0.8em!important;
    color: white!important;
}
.br-units{
    margin: 0!important;
}
.br {
    margin: 0!important;
}
.br-unit{
    
    background-color: white!important;
    opacity: 0.5!important;
}
.br-selected{
    opacity: 1!important;
}

/*  */
* {
    box-sizing: border-box;
}

@font-face{
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf'); 
}
@font-face{
    font-family: 'Roboto-Medium';
    src: url('./assets/fonts/Roboto-Medium.ttf'); 
}
@font-face{
    font-family: 'Roboto-Light';
    src: url('./assets/fonts/Roboto-Light.ttf'); 
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf'); 
}

body{
    padding: 0;
    margin: 0;
}
.container{
    /* background: rgb(219, 218, 218); */
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0.9rem ;
    font-family: 'Roboto-Light',serif;
    min-height: 100vh;
    display: grid;
    grid-gap: 1rem;
}

/* colores */
.green{
    color: green;
}
.blue{
    color: rgb(0, 76, 255)
}
.yellow{
    color: yellow;
}

h1{
    font-size: 1em;
    font-weight: inherit;
    font-family: 'Roboto-Regular', serif;
    margin: 0;
    padding: 0;
}

.input-txt input{
    background-color: #f3f3f3;
    outline: none;
    border: none;
    padding: 0.6em 1em;
    border-radius: 1.5em;
}

.progress {
    top:0;
    position: absolute!important;
    border-radius: 5px 5px 0px 0px;
    z-index: 1000;
}

.mat-menu-panel{
    width: 100%!important;
    max-width: 100%!important;
    /* overflow: hidden!important; */
    min-width: 300px!important;
    height: 35vh!important;
    min-height: 260px;
    display: grid;

  
  }
  .mat-menu-panel .mat-menu-content{
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr!important;
  }